<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.alexan.com.myapplication" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinnedSectionListActivity"
            android:label="my application" />
        <activity
            android:name=".AlexViewGroupActivity"
            android:label="my application" />
        <activity
            android:name=".SlideCutActivity"
            android:label="my application" />
        <activity
            android:name=".ScrollActivity"
            android:label="my application" />
        <activity
            android:name=".SlideMenuActivity"
            android:label="my application" />
        <activity
            android:name=".RefreshItemActivity"
            android:label="my app" />
        <activity
            android:name=".DynamicListActivity"
            android:label="my app" />
        <activity
            android:name=".CascadeScrollActivity"
            android:label="my app" />
        <activity
            android:name=".ExtendCascadeScrollActivity"
            android:label="my app" />
        <activity
            android:name=".ScrollerUsageActivity"
            android:hardwareAccelerated="false"
            android:label="my app" />
        <activity
            android:name=".HvSlideActivity"
            android:label="my app" />
        <activity
            android:name=".FusionScrollActivity"
            android:label="@string/title_activity_fusion_scroll" >
        </activity>
        <activity
            android:name=".GridViewTestActivity"
            android:label="@string/title_activity_grid_view_test" >
        </activity>
    </application>

</manifest>
